<a href="https://colab.research.google.com/github/vinitha1710/crtbatch1program/blob/master/python(day3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# collection types
- 1. list
- 2. tuple
- 3. set
- 4. dictionary

## list:
### it is one of the data structrue in python
### Data structure means to store, sort & search options
### It is a common data structure in python, the items in a list are seperated by comma and encolsed in [ ]
### It can store different data types.

In [1]:
## example
list1=[1,3,6,2]
print(list1)
type(list1)

[1, 3, 6, 2]

list

In [2]:
list2=[2,2.56,"hi","v"]
list2

[2, 2.56, 'hi', 'v']

In [13]:
# accessing list elements:
list1=[1,3,6,2,4]
print(list1[0])
print(list1[-1])
print(list1[0:3]) # start & stop values 
print(list1[0:5:2]) # start:stop:step (by def)
print(list1[2:]) #starts from index 2 till end.
print(list1[::2]) # starts from index 0 & ends with step 2
print(list1[1::3])
print(list1[3::])

1
4
[1, 3, 6]
[1, 6, 4]
[6, 2, 4]
[1, 6, 4]
[3, 4]
[2, 4]

In [10]:
del list1[0]
list1

[3, 6, 2, 4]

In [17]:
# basic list operation
list2=[2,3,4,5]
print(len(list2)) # gives length of the list
print(list2 * 2) # gives the elements twice 
print(4 in list2) # shows if the numder is persent in tthe list or not

4
[2, 3, 4, 5, 2, 3, 4, 5]
True

In [20]:
# accessing list elements in loop
list2=[2,3,4,5]
for i in range(len(list2)):
  print(list2[i])

2
3
4
5

In [0]:
for i in [1,4,2,5]

In [46]:
#Basic list functions
list=[1,3,4,5,6]
print(max(list))
print(min(list))
print(sum(list))
sum(list)/len(list) #gives the average of the list

6
1
19

3.8

In [47]:
#list methods
list=[1,3,4,1,6]
list.append(7) # adds the element to the end of the list
list
list.insert(2,8) # 
list
list.count(1) #
list.pop() # gives the last index value
list.pop(2) # removes the specified index value

8

In [34]:
list
print()

In [48]:
list
print(list)
list.index(1) # gives the index value of the given numder
list.extend([4,7])
list

[1, 3, 4, 1, 6]

[1, 3, 4, 1, 6, 4, 7]

In [49]:
print(list)
list3=[9,0,5]
list.extend(list3)
list

[1, 3, 4, 1, 6, 4, 7]

[1, 3, 4, 1, 6, 4, 7, 9, 0, 5]

In [50]:
list.reverse()
list

[5, 0, 9, 7, 4, 6, 1, 4, 3, 1]

In [51]:
list.sort() # sorts the list elements increasing order
list

[0, 1, 1, 3, 4, 4, 5, 6, 7, 9]

In [52]:
list[::-1] # to print the list in reverse order
list

[0, 1, 1, 3, 4, 4, 5, 6, 7, 9]

In [53]:
help("list")

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# **Tuples**
- ## they are encolsed in paranthesis()
- ## tuples are immutable i.e,we can not modfify the elements in it

## differences b/w list & tuples:
- tuples---> () and list-----> []
- list is mutable

In [54]:
tuple1=(2,1,3,5)
print(tuple1)
type(tuple1)

(2, 1, 3, 5)

tuple

In [55]:
tuple2=(1,3.45,"hi",'tae')
tuple2

(1, 3.45, 'hi', 'tae')

In [56]:
help("tuple")

Help on class tuple in module builtins:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

# dictionary
- ## encolsed in {}.
- ## it consists of key and value pairs seperated by (,).
- ## keys must be unique where as values can be repeated.

In [61]:
# examples:
d1={"band_name":"BTS", "fans_called":"ARMY","my_acc_name":"kimvinitha17"}
d1

{'band_name': 'BTS', 'fans_called': 'ARMY', 'my_acc_name': 'kimvinitha17'}

In [62]:
d1["band_name"]

'BTS'

In [64]:
d1["age"]=20
d1

{'age': 20,
 'band_name': 'BTS',
 'fans_called': 'ARMY',
 'my_acc_name': 'kimvinitha17'}

In [65]:
d1["age"]=20 # for adding another entry
print(d1)

{'band_name': 'BTS', 'fans_called': 'ARMY', 'my_acc_name': 'kimvinitha17', 'age': 20}

In [67]:
d1.keys() # dispalys all keys from the dictionary
d1.values() # dispalys all values from the dictionary

dict_values(['BTS', 'ARMY', 'kimvinitha17', 20])

In [68]:
d1.items() # retrun complete pairs from the dictionary

dict_items([('band_name', 'BTS'), ('fans_called', 'ARMY'), ('my_acc_name', 'kimvinitha17'), ('age', 20)])

In [75]:
d1={"band_name":"BTS", "fans_called":"ARMY","my_acc_name":"kimvinitha17"}
delitem ["age"] # deletes the value corresponding to the key name
d1

NameError: ignored

In [72]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## 1.function to find factorial of a number
## 2. function to check for strong number or not

In [79]:
# factorial
def factorial(n):
  fact=1
  i=1
  while i<=n:
    fact=fact*i
    i=i+1
  return fact
factorial(5)

120

In [81]:
# strong number
def digit_factor_sum(n):
  s=0
  buffer=n
  while n!=0:
    r=n%10
    s= s+factorial(r)
    n=n//10
  if buffer==s:
    print("It is a strong number")
  else:
    print("not a strong number ")
digit_factor_sum(145)

It is a strong number

# strings:

In [82]:
s1="python"
print(s1)
type(s1)

python

str

In [83]:
# accessing the first character
print(s1[0]) # print the 1st char
print(s1[-1]) # print the last char
print(s1[2:5]) # returns the char b/w specified values
print(s1[::2]) # skips one char from the previous char
print(s1[::3]) # skips every 2 chars in b/w
print (s1[::4]) # skips every 3 chars in b/w

p
n
tho
pto
ph
po

In [86]:
s1="python"
print(s1)
print(s1[1:])
print(s1[3:]) # prints from index 3
print(s1[:4]) # prints from index 0 to index 3
print(s1[-2:]) # prints the last -1 & -2
print(s1[1: -1]) # prints b/w index 0 & -1(last one)

python
ython
hon
pyth
on
ytho

In [88]:
s1[0:5:2]

'pto'

In [90]:
str1=input(" ")
print(str1)
print(str1[::-1])
if str1==str1[::-1]:
  print("It is a plaindrome")
else:
  print("It is not a palaindrome")

 vinitha
vinitha
ahtiniv
It is not a palaindrome

In [94]:
# buildin methods in strings:
s1= "vinitha"
s2="kim17v"
s3="1721"
print(s1.upper()) 
print(s1.lower())
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())
print(s2.isalpha())

VINITHA
vinitha
False
False
True
False

In [99]:
s1= "vinitha"
s2="kim17v"
s3="1721"
print(" ".join(s2))
print(",".join(s3))
print("#".join(s1))

k i m 1 7 v
1,7,2,1
v#i#n#i#t#h#a