## while loop syntax:
- while condition:
    - statements

In [3]:
# print numbers from 1 to 10 
n=int(input(" "))
i=1
while i<=n:
  print(i, end=' ')
  i=i+1

 10
1 2 3 4 5 6 7 8 9 10

In [7]:
#find the sum of digits of given number
n=int(input(' ')) 
sum=0
while n!=0:
  r=n%10
  sum =sum + r
  n=n//10
print(sum)

 123
6

In [11]:
# output of the number in reverse order
n=int(input(' '))
i=0
while n!=0:
  r=n%10
  i=i*10+r
  n=n//10
print("the reverse order of given number:",i)

 123
the reverse order of given number: 321

# for loop syntax:
- for variable_name in iterable_obj:
    - statements
    
- for vari_name in range(start,stop,step):
    - statements

In [12]:
# examples for using for loop syntax
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1, 10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range(1, 10+1, 2):
  print(i)

1
3
5
7
9

In [15]:
for i in "python":
  print(i)

p
y
t
h
o
n

# funtions
- simple
- reusable
- debugging is easy
-length of the program reduces

## two types of functions:
- build-in functions
- user-defined functions

### syntax of a funcyion:
- def function_name(parameters):
    - statements
    - return (it can return multiple vaules)

In [17]:
# addition of two numbers
a=int(input(' '))
b=int(input(' '))
def addition(a,b):
  c=a+b
  print(c)
addition(a,b)

 3
 4
7

In [20]:
addition(a,b)

7

In [21]:
# find sum of even digits from the number
n=int(input(' ')) 
def evendigits_sum(n):
  sum=0
  while n!=0:
    r=n%10
    if r%2==0:
      sum =sum + r
    n=n//10
  return sum #if we use return, it allocate some memroy to it whereas 'print' does not do that
evendigits_sum(1234)

 1234

6

In [24]:
#print the largest digit from given number
def large_digit(n):
  l=0
  while n!=0:
    r=n%10
    if l<r:
      l=r
    n=n//10
  return l
large_digit(985)

9

In [33]:
# given number is palindrome or not
def palindrome(n):
 i=0
 while n!=0:
  r=n%10
  i=i*10+r
  if n==i:
    print("it is palindrome")
  n=n//10
 return i
palindrome(121)

it is palindrome

121

In [34]:
def palindrome_1(n):
  i=0
  b=n
  while n!=0:
    i=i*10+(n%10)
    n=n//10
  if i==b:
    return "It is palindrome"
  return "It is not a palidrome"
print(palindrome_1(121))
palindrome_1(123)

It is palindrome

'It is not a palidrome'